
{% extends '_layout.html' %}

{% block title %} {{ title }} {% endblock %}

  {% block stylesheet %}
     .sec-box{
     <!-- width:400px; --><!-- dont uncomment this code - line -->
     height:160px;
     max-width:100%;
     line-height:160px;
     text-align:center;
     position:relative;
     
     font-size:1.9rem;

    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    transition: all 400ms ease-in;

    font-variant: petite-caps;
 }

.sec-box a{
 color:#fff;
 text-decoration:none;
	
}


 .employee-box{
 	background:#41b6d6;
}


 .leave-box{
 	background:#fff;

}

.leave-box a{
	color:#3ea7c7 !important;
}


 .birthday-box{
 	background:#8664ad;
}

.company-box{
	background:#868686;
}


.count-object {
    position: absolute;
    top: 40%;
    right: 12px;
    font-size: 29px;
    font-weight: 100;
    font-variant: petite-caps;
    color: #f5f5f5;
    text-shadow:1px 1px rgba(8, 8, 8, 0.23);
}


     
  {% endblock %}

  

 <!--CONTENTS-->
 {% block content %}
        <section class="content">
            <section class="container-fluid">
            	<section class="row">
            		{% if request.user.is_superuser and request.user.is_staff %}
            		<section class="col col-lg-4">
            			<div class="employee-box sec-box">
            				<a href="">
            				<span>Employees </span>
            				</a>
            				<span class="count-object">{{ dataset.employees.count }}</span> 
            			</div>
            		</section>
            		<section class="col col-lg-4">
            			<div class="leave-box sec-box">
            				<a href="">
            				<span>Leaves</span>
            				</a>
                            <span class="count-object" style="color:#41b6d6;">{{ dataset.leaves.count }}</span> 
            			</div>
            		</section>
            		
            		{% else %}
                    <section class="col col-lg-6">
                        <div class="leave-box sec-box">
                            <a href=""> 
                            <span>Leaves</span>
                            </a>
                            <span class="count-object" style="color:#41b6d6;">{{ staff_leaves.count }}</span> 
                        </div>
                    </section>
                    
                    {% endif %}


                    
            	</section>

                
                	<!-- TABLE -->
					{% if request.user.is_superuser and request.user.is_staff %}
                	<div class="table-responsive table-shadow">
                		<div class="text-center table-description">
                			<h4 class="title-h3" style="color: #60a0b3 !important;
    						text-shadow: 1px 0px rgba(0,0,0,0.11)">TODAY LEAVES</h4>
                		</div>
                		<section class="total-leaves-count">
                			{% if leave_list %}
                			<p>Total Leaves Today - <span>{{ leave_list.count }}</span></p>
                			{% endif %}
                		</section>
                	
                		<table class="table">
							  <thead>
							    <tr>
							      <!-- <th scope="col">#</th> -->
							      <th scope="col">User</th>
							      <th scope="col">Type</th>
								  <th scope="col">From</th>
								  <th scope="col">To</th>
							      <th scope="col">Day(s)</th>
							      <th scope="col">Status</th>


							    </tr>
							  </thead>
							  <tbody>
							  	{% for leave in leave_list %}
							    <tr>

							      <td>{{ leave.user }}</td>
							      <td>{{ leave.leavetype}}</td>
								  <td>{{ leave.startdate }}</td>
								  <td>{{ leave.enddate }}</td>
							      <td>{{ leave.leave_days }}</td>

                                    {% if leave.status == 'approved' %}
                                    <td style="color: green;">{{ leave.status }}</td>
                                    {% elif leave.status == 'pending' %}
                                    <td style="color: orange;">{{ leave.status }}</td>
                                    {% else %}
                                    <td style="color: red;">{{ leave.status }}</td>
                                    
                                    {% endif %}
                              
							    </tr>

							    {% endfor %}

							  </tbody>

						</table>
			
					</div>
					{% else %}
					<div class="table-responsive table-shadow">
                		<div class="text-center table-description">
                			<h4 class="title-h3" style="color: #60a0b3 !important;
    						text-shadow: 1px 0px rgba(0,0,0,0.11)">TODAY LEAVES</h4>
                		</div>
                		<section class="total-leaves-count">
                			{% if leave_list %}
                			<p>Total Leaves Today - <span>{{ leave_list.count }}</span></p>
                			{% endif %}
                		</section>
                	
                		<table class="table">
							  <thead>
							    <tr>
							      <!-- <th scope="col">#</th> -->
							      <th scope="col">User</th>
							      <th scope="col">Type</th>
								  <th scope="col">From</th>
								  <th scope="col">To</th>
							      <th scope="col">Day(s)</th>
							      <th scope="col">Status</th>


							    </tr>
							  </thead>
							  <tbody>
							  	{% for leave in staff_leaves %}
							    <tr>

							      <td>{{ leave.user }}</td>
							      <td>{{ leave.leavetype}}</td>
								  <td>{{ leave.startdate }}</td>
								  <td>{{ leave.enddate }}</td>
							      <td>{{ leave.leave_days }}</td>

                                    {% if leave.status == 'approved' %}
                                    <td style="color: green;">{{ leave.status }}</td>
                                    {% elif leave.status == 'pending' %}
                                    <td style="color: orange;">{{ leave.status }}</td>
                                    {% else %}
                                    <td style="color: red;">{{ leave.status }}</td>
                                    
                                    {% endif %}
                              
							    </tr>

							    {% endfor %}

							  </tbody>

						</table>
			
					</div>
                	<!-- /TABLE -->

            </section> <!-- /container -->           
        </section>
 {% endblock %}


{% block extrajs%}
    
    

    $(document).ready(function(){
          var get_login_user = '{{request.user.username}}'
          
          console.log(get_login_user);

          demo.initChartist();

          $.notify({
              icon: 'fa fa-user',
              message: "Welcome to Aditya ,"+get_login_user

            },{
                type: 'info',
                timer: 4000
            });

      });

{% endblock %}